.story-heading-text {
  text-align: center;
  color: darkgray;
  margin-top: 30px;
}

.stories-container {
  width: 60%;
  margin-left: 18%;
  margin-bottom: 20%;
}

.story-summary {
  margin-left: 47px;
}

.ant-list-item-main {
  margin-top: 10px;
}
